{% extends 'base.html' %}

{% block title %}{{ recipe }}{% endblock title %}

{% block body %}
    <span>
        <h1>{{ recipe.name }}</h1>
        <div id="fav-btn-container">
            {% if user.is_authenticated and is_favorite %}
                <button value="{{recipe.id}}" id="btn-fav-js" data-recipe-id="{{ recipe.id }}" data-url="{% url 'recipes:unfavorite_ajax' recipe.id %}">Remove Favorite {{recipe.id}}</button>
            {% elif user.is_authenticated and not is_favorite %}
                <button value="{{recipe.id}}" id="btn-fav-js" data-recipe-id="{{ recipe.id }}" data-url="{% url 'recipes:favorite_ajax' recipe.id %}">Add Favorite {{recipe.id}}</button>
            {% endif %}
        </div>
    </span>
    <h4> <i> ${{ recipe.calculated_cost }} </i> </h4>
    <hr>
    <div class="container col-sm-6 col-lg-6">
        <img src="{{ recipe.image.url }}" alt="" class="img-fluid rounded-5 recipe-image">
    </div>
    <hr>
    <h3>Ingredients:</h3>

    <ul class="border border-primary rounded p-3">
        {% for ingredient in recipe.recipe_ingredients.all %}

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheck{{ ingredient.id }}">
            <label class="form-check-label" for="flexCheck{{ ingredient.id }}">
              {{ ingredient.quantity.normalize }} 
              {% if ingredient.unit is not None %} {{ ingredient.unit }} {% endif %} 
              {{ ingredient.ingredient.name }} 
              <i> (${{ ingredient.calculated_cost }}) </i>
            </label>
        </div>
        {% endfor %}
    </ul>
    <hr>
    <h3>Steps:</h3>
    <ol class="border border-primary rounded py-3 px-4">
        {% for step in recipe.steps.all %}
            <li>{{ step.text }}</li>
        {% endfor %}
    </ol>

{% endblock body %}