{% extends 'base.html' %}

{% block title %}Detail for Recipe{% endblock title %}

{% block body %}
    <h2>Detail for recipe {{recipe}}</h2>
    <h3>Ingredients:</h3>

        {% for ingredient in recipe.ingredients.all %}

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              {{ ingredient }}
            </label>
        </div>
        {% endfor %}

    <h3>Steps:</h3>
    <ol>
        {% for step in recipe.steps.all %}
            <li>{{ step.text }}</li>
        {% endfor %}
    </ol>

{% endblock body %}